<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="sku_dlg" class="easyui-dialog" title="编辑sku" style="width:700px;height:520px;"
     closed="true"  data-options="iconCls:'icon-save',resizable:true,modal:false" buttons="#skuBtns" >
    <form id="skuForm">
        <br/>
        <label>sku名称:</label>
        <input  id="skuName" name="skuName" class="easyui-textbox" data-options="" style="width:300px;"/>
        <br/><br/>
        <label>商品价格:</label>
        <input  id="price" name="price" class="easyui-numberbox" data-options="min:0,precision:2" style="width:300px;"/>
        <br/><br/>
        <label>商品重量（千克):</label>
        <input  id="weight" name="weight" class="easyui-numberbox" data-options="min:0,precision:2" style="width:300px;"/>
        <br/><br/>
        <label>商品规格描述:</label>
        <input  id="skuDesc" name="skuDesc" class="easyui-textbox" data-options="multiline:true" style="width:500px;height:100px"/>

        <!-- supId的隐藏域 -->
        <input id="spuIdForSku" name="spuId" type="hidden"/>

        <!-- skuId的隐藏域 -->
        <input id="skuId" name="id" type="hidden"/>

        <!-- 三级分类Id的隐藏域 -->
        <input id="catalog3IdForSku" name="catalog3Id" type="hidden"/>
        <br/><br/>

        <!-- skuInfo： 需要编辑使用 -->
        <input id="skuInfo" name="skuInfo" type="hidden"/>


        <div id="attrInfoGroup"  title="平台属性" class="easyui-panel" style="padding:5px;" ></div>

        <div id="spuSaleAttrGroup" title="销售属性" class="easyui-panel" style="padding:5px;" ></div>



        <!----------------商品图片列表 ----------------------->

        <table id="skuImgDg" class="easyui-datagrid" title="商品图片列表"
               data-options="singleSelect:false,selectOnCheck:false,method:'get'" ></table>

        <br/><br/>




        <!-------------->



    </form>
</div>
<!----------------弹出框的按钮组----------------------->
<div id="skuBtns">
    <a href="#" class="easyui-linkbutton" onclick="saveSku()">保 存</a>
    <a href="#" class="easyui-linkbutton" onclick="closeSku()">关 闭</a>
</div>

</body>

<script type="text/javascript">
    
    
    //保存功能
    function saveSku() {
        //声明一个对象
        var skuInfo = {};
//        String id;
//        String spuId;
//        BigDecimal price;
//        String skuName;
//        BigDecimal weight;
//        String skuDesc;
//        String catalog3Id;
//        String skuDefaultImg;


//        List<SkuSaleAttrValue> skuSaleAttrValueList;
        skuInfo["id"]=$("#skuId").val();
        skuInfo["spuId"]=$("#spuIdForSku").val();
        skuInfo["price"]=$("#price").val();
        skuInfo["skuName"]=$("#skuName").val();
        skuInfo["weight"]=$("#weight").val();
        skuInfo["skuDesc"]=$("#skuDesc").val();
        skuInfo["catalog3Id"]=$("#catalog3IdForSku").val();

        //结束编辑数据表格
        skuImgDgendEdit();

        //        List<SkuImage> skuImageList;
        //获取当前图片的所有被选中的数据
        var skuImgDgRows = $("#skuImgDg").datagrid('getChecked');
        for (var i = 0; i < skuImgDgRows.length; i++) {
//            String id;
//            String skuId;
//            String imgName;
//            String imgUrl;
//            String spuImgId;
//            String isDefault;
            skuInfo["skuImageList["+i+"].imgName"]=skuImgDgRows[i].imgName;
            skuInfo["skuImageList["+i+"].imgUrl"]=skuImgDgRows[i].imgUrl;
            skuInfo["skuImageList["+i+"].spuImgId"]=skuImgDgRows[i].id;

            if(skuImgDgRows[i].isDefault == '1'){
                //赋值一个skuInfo【"skuDefaultImg"】
                skuInfo["skuDefaultImg"]=skuImgDgRows[i].imgUrl;
            }
            skuInfo["skuImageList["+i+"].isDefault"]=skuImgDgRows[i].isDefault;

        }

//        List<SkuAttrValue> skuAttrValueList;   取平台属性值
//        String id;
//        String attrId;
//        String valueId;
//        String skuId;
        //获取数据
        var attrInfoSelect = $("#attrInfoGroup").children('select');
        for (var i = 0; i < attrInfoSelect.length; i++) {
            var attrId = attrInfoSelect.eq(i).attr("attrId");
            var valueId = attrInfoSelect.eq(i).find("option:selected").val();
            skuInfo["skuAttrValueList["+i+"].attrId"]=attrId;
            skuInfo["skuAttrValueList["+i+"].valueId"]=valueId;
        }

        //获取销售属性数据
        var spuSaleAttrSelect = $("#spuSaleAttrGroup").children("select");
        for (var i = 0; i < spuSaleAttrSelect.length; i++) {
            var saleAttrValueId = spuSaleAttrSelect.eq(i).find("option:selected").val();
            var saleAttrValueName = spuSaleAttrSelect.eq(i).find("option:selected").text();
            var saleAttrId=spuSaleAttrSelect.eq(i).attr("saleAttrId");
            var saleAttrName=spuSaleAttrSelect.eq(i).attr("spuSaleAttrName");
            skuInfo["skuSaleAttrValueList[" + i + "].saleAttrValueId"]=saleAttrValueId;
            skuInfo["skuSaleAttrValueList[" + i + "].saleAttrValueName"]=saleAttrValueName;
            skuInfo["skuSaleAttrValueList[" + i + "].saleAttrId"]=saleAttrId;
            skuInfo["skuSaleAttrValueList[" + i + "].saleAttrName"]=saleAttrName;
        }


        $.post("saveSkuInfo",skuInfo,function (data) {
            //关闭模态框
            $("#sku_dlg").dialog('close');
        })
    }


    //结束编辑
    function skuImgDgendEdit() {
        var rows = $("#skuImgDg").datagrid("getRows");
        for(i=0;i<rows.length;i++){
            $("#skuImgDg").datagrid("endEdit",i);
        }
    }



    //关闭功能
    function closeSku() {
        $("#sku_dlg").dialog('close');
    }
    

    function initSkuInfoDlg(spuId,skuInfo,catalog3Id){
        //打开对话框
        $('#sku_dlg').dialog("open");

        //初始化 表单
        initSkuForm(spuId,catalog3Id);

        //加载表单数据
        loadSkuForm(skuInfo);

        //初始化图片表格
        initSkuImgListDatagrid(spuId) ;

        //初始化销售属性
        initSpuSaleAttrGroup(spuId,skuInfo);

        //初始化平台属性
        initAttrInfoGroup(catalog3Id);


    }


    //加载平台属性
    function loadSkuAttrInfo(){
        if($("#skuInfo").val()==''){
            return;
        }
        var skuInfo=JSON.parse($("#skuInfo").val())  ;
        if(!skuInfo||!skuInfo.skuAttrValueList){
            return;
        }
        var skuAttrValueList=skuInfo.skuAttrValueList;
        var selects = $('#attrInfoGroup').find("select");
        console.log(" selects.html():111:"+ selects.html());
        for (var i = 0; i < selects.length; i++) {
            var select = selects.eq(i);
            for (var j = 0; j < skuAttrValueList.length; j++) {
                console.log(" AttrVs::::::"+skuAttrValueList[j].attrId+"||"+select.attr("attrId"));
                if(skuAttrValueList[j].attrId==select.attr("attrId")) {
                    select.val(skuAttrValueList[j].valueId);
                }
            }
        }
    }




    //初始化平台属性
    function initAttrInfoGroup(catalog3Id) {
        console.log("初始化平台属性:" + catalog3Id);
        var attrInfoList = {};
        $('#attrInfoGroup').html("");
        var attrInfoGroup = $('#attrInfoGroup');
        $.get("attrInfoList?catalog3Id=" + catalog3Id, function (data) {
            attrInfoList = data;
            for (var i = 0; i < attrInfoList.length; i++) {
                var attrInfo = attrInfoList[i];
                var attrInfoHtml = '<span>' + attrInfo.attrName + ':</span> <select attrId="' + attrInfo.id + '"   class="easyui-combobox"   style="width:100px">';

                for (var j = 0; j < attrInfo.attrValueList.length; j++) {

                    var attrValue = attrInfo.attrValueList[j];
                    var attrValueHtml = '<option value="' + attrValue.id + '">' + attrValue.valueName + '</option>'
                    attrInfoHtml += attrValueHtml;
                }
                attrInfoHtml += '</select>';
                attrInfoGroup.append(attrInfoHtml);    // 为什么要加$符号
            }

            loadSkuAttrInfo(skuInfo);

        });
    }


    //初始化销售属性
    function initSpuSaleAttrGroup(spuId) {
        //声明销售属性对象
        var spuSaleAttrList={};
        //清空数据
        $('#spuSaleAttrGroup').html("");
        //获取销售属性div对象
        var spuSaleAttrGroup= $('#spuSaleAttrGroup');

        //获取数据 ajax
        $.get("spuSaleAttrList?spuId="+spuId,function (data) {
            //data就是后台获取到的数据 销售属性对象
            spuSaleAttrList=data;
            //循环销售属性对象
            for (var i = 0; i < spuSaleAttrList.length; i++) {
                var spuSaleAttr  = spuSaleAttrList[i];
                //开始新建数据   属性名：属性值
                // <span> 属性名 </span>  <select><option>黑色</option> <option>金色</option></select>
                //声明一个对象来记录要显示的数据，然后将显示的数据追加到销售属性div
                var spuSaleAttrHtml = '<span>' + spuSaleAttr.saleAttrName + ':</span> <select saleAttrId="'+spuSaleAttr.saleAttrId+'"spuSaleAttrName="'+spuSaleAttr.saleAttrName+'"  class="easyui-combobox"   style="width:100px">'
                  //拼接属性值
                for (var j = 0; j < spuSaleAttr.spuSaleAttrValueList.length; j++) {
                    var spuSaleAttrValue = spuSaleAttr.spuSaleAttrValueList[j];
                    //拼接option
                    var spuSaleAttrValueHtml = '<option value="'+spuSaleAttrValue.id+'">' + spuSaleAttrValue.saleAttrValueName + '</option>';
                    //将spuSaleAttrValueHtml赋给上一个变量
                    spuSaleAttrHtml += spuSaleAttrValueHtml;
                }
                spuSaleAttrHtml+='</select>';
                //追加到当前的销售属性div
                spuSaleAttrGroup.append($(spuSaleAttrHtml));
            }
            loadSkuSaleAttr();
        })

    }


    //编辑操作
    function loadSkuSaleAttr(){
        if($("#skuInfo").val()==''){
            return;
        }
        var skuInfo=JSON.parse($("#skuInfo").val());
        console.log("开始加载sku销售属性："+skuInfo.skuSaleAttrValueList);
        if(!skuInfo ||!skuInfo.skuSaleAttrValueList){
            return;
        }
        var skuSaleAttrValueList=skuInfo.skuSaleAttrValueList;
        var selects = $("#spuSaleAttrGroup").find("select");
        console.log(" selects.html()::"+ selects.html())
        for (var i = 0; i < selects.length; i++) {
            var select = selects.eq(i);
            for (var j = 0; j < skuSaleAttrValueList.length; j++) {
                console.log("SaleAttrVs::::::"+skuSaleAttrValueList[j].saleAttrId+"||"+select.attr("saleAttrId"));
                if(skuSaleAttrValueList[j].saleAttrId==select.attr("saleAttrId")) {
                    console.log("skuSaleAttrValueList[j].saleAttrValueId+++"+skuSaleAttrValueList[j].saleAttrValueId);
                    select.val(skuSaleAttrValueList[j].saleAttrValueId);
                }

            }
        }

    }


    //打开窗口编辑模式
    function skuImgDgbeginEdit() {
        var skuImgDg = $("#skuImgDg");
        var rows = skuImgDg.datagrid('getRows');
        for (var i = 0; i < rows.length; i++) {
            skuImgDg.datagrid('beginEdit', i);
        }
    }

    //加载图片数据
    function loadSkuImg(){
        if($("#skuInfo").val()==''){
            return;
        }
        //将skuImage转化为对象
        var skuInfo=JSON.parse($("#skuInfo").val());
        //取得skuImage的图片数据集合 如果没有数据  返回
        if(!skuInfo||!skuInfo.skuImageList){
            return;
        }
        var imgDg=$('#skuImgDg') ;
        var imgRows =imgDg.datagrid("getRows");
        var skuImgList=skuInfo.skuImageList;
        //循环数据表格
        for (var i = 0; i < imgRows.length; i++) {
            var imgRow = imgRows[i];

            //循环skuImage的图片数据集合
            for (var j = 0; j < skuImgList.length; j++) {
                var skuImg = skuImgList[j];
                console.log("imgVs::::::"+skuImg.spuImgId+"||"+imgRow.id);
                if(skuImg.spuImgId==imgRow.id){
                    imgDg.datagrid("checkRow",i);
                    imgDg.datagrid("updateRow",{index:i,row:{isDefault:skuImg.isDefault}});

                }

            }
        }
    }


    //初始化图片表格
    function initSkuImgListDatagrid(spuId) {
        $("#skuImgDg").datagrid({url:""});
        $('#skuImgDg').datagrid('loadData', { total: 0, rows: [] });
        skuImgDg = $("#skuImgDg").datagrid({
            columns:[[
                { field:'checkFlag',checkbox:true},
                { field:'id',title:'文件编号',width:'15%'},//隐藏文件页面内部编号
                { field:'imgName',title:'图片简称',width:'30%'},
                { field:'imgUrl',title:'图片路径' ,width:'20%',
                    formatter:function (value, row, index) {
                        return "<img src="+row.imgUrl+" style='width:100px;height:100px;'>";
                    }
                }
                ,
                { field:'isDefault',title:'是否默认图片' ,width:'20%',
                    editor:{type: 'checkbox' ,
                        options: {
                            on:"1",
                            off:"0"
                        }
                    }
                }
            ]],
            onLoadSuccess: function () {   //隐藏表头的checkbox
                //编辑使用
                //加载图片数据
                loadSkuImg(skuInfo);
                //打开窗口编辑模式
                skuImgDgbeginEdit();
            }

        });

        console.log('加载图片数据'+spuId);
        $('#skuImgDg').datagrid({url:'spuImageList?spuId='+spuId});


    }


    //加载表单数据
    function loadSkuForm(skuInfo){
        console.log("开始加载sku表单："+skuInfo.id);
        if(!skuInfo||!skuInfo.id){
            return;
        }
        //后续如果有编辑操作  才会执行此方法
        console.log("开始加载sku表单："+skuInfo.skuName);
        $("#skuName").textbox('setValue',skuInfo.skuName);
        $("#skuDesc").textbox('setValue',skuInfo.skuDesc);
        $("#price").textbox('setValue', skuInfo.price);
        $("#weight").textbox('setValue',skuInfo.weight);
        $("#spuIdForSku").val(skuInfo.spuId);
        $("#skuDefaultImg").val(skuInfo.skuDefaultImg);
        $("#skuId").val(skuInfo.id);
        $("#catalog3IdForSku").val(skuInfo.catalog3Id);
        $("#skuInfo").val(JSON.stringify(skuInfo));//用于异步加载的 暂存
        console.log("skuInfo in hidden:"+$("#skuInfo").val());

    }


    //初始化 表单
    function initSkuForm(spuId,catalog3Id){

        $("#skuForm").form('clear');

        //给spuId赋值
        $("#spuIdForSku").val(spuId);
        $("#catalog3IdForSku").val(catalog3Id);
    }

</script>
</html>